{% extends 'mathgame/base.html' %}

{% block content %}

<div class="row mt-5">
  <div class="col-sm-12 text-center"> <h1 id="problem"></h1> </div>
  <div class="col-sm-12 text-center"> <input name="answer" type="text" style="font-size: 24px; width: 150px;" id="answer"> </div>
</div>

<div class="row mt-2">
  <div class="col-sm-12 text-center"><p>Sharpen your mind!</p></div>
</div>

<div class="row mt-1">
  <div class="col-sm-12 text-center"><a href="{% url 'index' %}">Go back</a></div>
</div>

<script>
  function submitProblem() {
    $.post("{% url 'new_problem' %}", {'problem': $("#problem").html(), 'answer': $('#answer').val()}, function ( data ) {
      if (data.correct) {
        $('#problem').html(data.problem);
        $('#answer').val('');
      }
    });
  }

$(document).ready(function() {
  $("#answer").on('input', submitProblem);
  submitProblem();
});
</script>

{% endblock %}
